[submodule "limo_hardware_interface"]
	path = limo_hardware_interface
	url = git@github.com:idra-lab/limo_hardware_interface.git
[submodule "limo-firmware"]
	path = limo-firmware
	url = https://github.com/idra-lab/limo-firmware.git
[submodule "rescue_planner/src/include/kdtree"]
	path = rescue_planner/src/include/kdtree
	url = https://github.com/cdalitz/kdtree-cpp.git
